<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Блоги</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
	<div class="container">
		<div th:replace="fragments/header :: header"></div>
		<main>
			<div class="reg-panel" th:if="${cookie} != null">
				<a href="/reg"><button type="button" class="btn btn-primary btn-add"><i class="fas fa-plus"></i></button></a>
			    
			</div>
<!-- 			<div class="card mb-3" th:each="article : ${articles.headlines}">
			  <div class="row no-gutters">
			    <div class="card-image col-md-2">
			    	<img th:src="${article.titleImage == null} ? '' : ${article.titleImage.url}" class="card-img" alt="..."/>
			    </div>
			    <div class="col-md-10">
			      <div class="card-body">
			        <h5 class="card-title" th:text="${article.info.title}"></h5>
			        <p class="card-text" th:text="${article.info.rightcol}"></p>
			        <a href="http://localhost:8080/article?id=" th:attrappend="href=${article.info.id}"> <small>подробнее</small></a>
			      </div>
			    </div>
			  </div>
			</div> -->
		</main>
	</div>
</body>
</html>