

main{
	padding:10px;
}

.card-image{
	padding:5px !important;
	display:flex;
	justify-content:center;
}

footer{
	background-color: #f8f9fa
}

.reg-panel {
/* 	position: flex; */
/* 	justify-content: center; */
	margin-top:15px;
}

.fa-angrycreative {
	padding-left: 20px;
	font-size:60px;
}

.reg-panel span{
	
	margin-left: 10px;
}